.myBox {
	width: 50px;
	height: 50px;

	padding: 10px 190px 50px 30px;

	/* Al definir las proporciones en una misma regla "padding" 
	   se nombran en el siguiente orden: top, rigth,bottom, left
	padding-top: 10px;
	padding-left: 30px;
	padding-right: 190px;
	padding-bottom: 50px; */

	background: 100px / contain  rgb(189, 189, 189) url(https://github.com/4GeeksAcademy/css-tutorial-exercises-course/blob/3a2d1dd03f58167a5a4894155af2d3aa4d41d647/.learn/assets/baby.jpg?raw=true) no-repeat;

}
